@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Libertinus+Math&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --hover--bg-color: #fcf3f3;
    --hover--text-color: #e77080;
    --bg-color: linear-gradient(to bottom, #EE9CA7, #FFDDE1);
    --sec-bg-color: linear-gradient(to left, #c15a5b, #FFE4E1);
    --text-color: #000;
}

body{
    width: 100%;
    height: 100vh;
    font-family: "Lora", serif;
    background: var(--bg-color);
    background-repeat: no-repeat;
}

nav{
    width: 100%;
    height: 100px;
    /* background-color: rgb(220, 183, 255); */

    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .logo{
    width: 130px;
    height: 100%;
    /* background-color: aqua; */
    color: black;

    display: flex;
    justify-content: start;
    align-items: center;
}

nav .logo i, h2{
    font-size: 2.1rem;
}

nav .logo i{
    margin-right: 10px;
    margin-bottom: 5px;
    
}

nav .navlist{
    width: 700px;
    height: 100%;
    /* background-color: rgb(191, 255, 217); */
}

nav .navlist ul{
    width: 100%;
    height: 100%;
    list-style-type: none;
    /* font-size: large; */

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}

.navlist ul a{
    padding: 10px 15px;
    border-radius: 12px;
    text-decoration: none;
    color: var(--text-color);
}

.navlist ul a:hover{
    background-color: var(--hover--bg-color);
    color: var(--hover--text-color);
}

#home{
    width: 100%;
    height: 629px;
    /* background-color: aqua; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home .text{
    width: 630px;
    height: 50px;
    font-size: larger;
    margin-bottom: 10px;

    display: flex;
}

#home .text .color{
    color: #e77080;
    margin-left: 7px;
}

#home .more{
    margin-top: 25px;
    display: flex;
    gap: 15px;
}

#home .more button, #about .text2 button{
  padding: 10px 20px;
  background-color: #e77080;
  color: white;
  border: none;
  border-radius: 10px;
}

#about{
    width: 100%;
    height: 650px;
    /* margin-left: 100px; */
    background: var(--sec-bg-color);  
    
    display: flex;
    justify-content: center;
}

#about .text2{
    width: 40%;
    height: 100%;
    margin-left: 20px;
    margin-top: 70px;
    line-height: 40px;
}

#about .text2 h1{
    font-size: 2.1rem;
}

#about .text2 button{
    margin-top: 25px;
}

#about .image img{
    margin-left: 100px;
    margin-top: 30px;
    width: 85%;
    height: 90%;
    border-radius: 30px;
}

#menu{
    width: 100%;
    height: 800px;
    background-color: aqua;
}

.container{
    width: 100%;
    height: 300px;
        background-color: burlywood;

    display: flex;

    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.box1, .box2, .box3{
    width: 200px;
        height: 100px;
}

.box1{
    background-color: red;
}

.box2{
    background-color: yellowgreen;
}

.box3{
    background-color: violet;
}