/* Importing the required fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* Defining CSS Variables and basic body styles */
:root {
    --primary-text: #000;
    --accent-pink: #e77080;
    --light-bg: #FFDDE1;
    --hover-bg: #fcf3f3;
}

body {
    /* Set font from the import */
    font-family: 'Lora', serif;
    /* Apply color variables */
    color: var(--primary-text);
    background-color: var(--light-bg);
    /* Tailwind will handle the rest of the layout and styling */
}

